data/
build/
src/models/
src/configs/local/
.ipynb_checkpoints/
*.ipynb_checkpoints/
__pycache__/
lightning_logs/
dist/
docs/notebooks/COVID-19-AR/
docs/docker-docs.txt
.vscode/*
.vscode/settings.json
.~lock*
bpreg.egg-info/
*.gz
*.csv
*.xlsx
*.dcm
*.nii
*.npy
*.pt
*.pth
*.pyc
*.png
*.zip

epoch=* 
events.* 
hparams.yaml
*checkpoint.ipynb


