data/
src/models/
src/configs/local/
.ipynb_checkpoints/
__pycache__/
lightning_logs/
docs/docker-docs.txt
starter.py 
.vscode/*
.vscode/settings.json
bpreg.egg-info/
*.gz
*.csv
*.xlsx
*.dcm
*.nii
*.npy
*.ipynb
*.pt
*.pth
*.pyc
*.png




