data/
src/models/
src/configs/local/
.ipynb_checkpoints/
*.ipynb_checkpoints/
__pycache__/
lightning_logs/
dist/
docs/docker-docs.txt
starter.py 
.vscode/*
.vscode/settings.json
bpreg.egg-info/
starter_test.py
*.gz
*.csv
*.xlsx
*.dcm
*.nii
*.npy
*.ipynb
*.pt
*.pth
*.pyc
*.png
*.zip

epoch=* 
events.* 
hparams.yaml
*checkpoint.ipynb


