openpyxl
packaging 
pandas==1.2.1
pickleshare
Pillow 
pluggy 
pooch 
prometheus-client
prompt-toolkit 
protobuf==3.14.0
ptyprocess 
py 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
pydicom 
Pygments 
PyJWT
pyOpenSSL
pyparsing==2.4.7
pyrsistent
PySocks
pytest==6.2.1
python-dateutil==2.8.1
pytorch-lightning
pytz
PyWavelets
PyYAML==5.4.1
pyzmq==20.0.0
requests 
requests-oauthlib 
rsa
scikit-image==0.18.1
scikit-learn
scikit-plot==0.3.7
scipy
Send2Trash==1.5.0
Shapely
SimpleITK==2.0.2
six
tensorboard
tensorboard-plugin-wit
terminado
testpath==0.4.4
threadpoolctl
tifffile==2020.10.1
toml 
toolz
torch==1.7.1
torchvision==0.8.2
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
yarl 
zipp
absl-py
aiohttp 
albumentations 
appdirs 
argon2-cffi
async-generator==1.10
async-timeout==3.0.1
attrs
backcall==0.2.0
bleach
brotlipy==0.7.0
cachetools 
certifi==2020.12.5
cffi 
chardet 
click==7.1.2
cloudpickle 
cxxfilt
dask 
decorator==4.4.2
defusedxml==0.6.0
entrypoints 
fsspec 
future 
google-auth 
google-auth-oauthlib==0.4.1
grpcio 
idna
imageio
imgaug==0.4.0
importlib-metadata 
iniconfig
ipykernel
ipython 
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.2
joblib
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
jupytext 
kiwisolver 
Markdown 
markdown-it-py
MarkupSafe 
matplotlib 
mdit-py-plugins
mistune
more-itertools 
multidict
nbclient 
nbconvert 
nbformat
nest-asyncio 
networkx 
nibabel
notebook==6.3.0
numpy
oauthlib==3.1.0

